/* footer */
footer {
    background-color:#2A3457;
    min-height: 64px;
    color: white;
    text-align: center;
    padding: 16px;
}

footer .container-fluid {
    padding: 0;
}

#footer-links {
    margin: 0;
    text-align: center;
}

footer svg {
    fill: white;
}

footer .list-inline-item:not(:last-child) {
    margin-right: 0.6rem;
}

footer p {
    color: white;
    margin-bottom: 0;
    margin-top: 4px;
    font-weight: 300;
    line-height: 3vh;
}