#container-main {
    padding: 15px;
    margin:0;
}

#container-images {
    margin: 0;
}

.div-images {
    text-align: center;
    padding: 0;
    margin-bottom: 15px;
}

.div-images:last-of-type {
    /*margin-bottom: 0;*/
}

.img-background {
    background-color: #f2eaed;
    position: relative;
    text-align: center;
}

.div-images img {
    width: 100%;
    position: relative;
    z-index: 100;
}

.clicked {
    opacity: 0.5;
    z-index: 90 !important;
}

.info {
    background-color: white;
    padding: 5px;
    font-weight: 500;
    font-size: 15px;
    width: inherit;
    color: #2A3457;
    line-height: 17px;
}

.info i {
    font-size: 13px;
    font-weight: 400;
}

.caption {
    position: absolute;
    top: 50%;
    left: 0;
    color: white;
    font-weight: 400;
    font-size: 15px;
    padding: 0 15px;
    z-index: 99;
    pointer-events: none;
    min-width: 100%;
}

@media only screen and (min-width: 576px) {
    #container-main {
        padding: 15px 7.5px;
    }

    .div-images {
        padding: 0 7.5px;
    }

    .img-background {
        background-color: #f2eaed;
    }

    .caption {
        display: none;
    }

    .info i:first-child {
        font-size: 13px;
    }
}