#home {
    text-align: center;
    padding: 0 15px;
    margin: 0;
}

#home p {
    color: #2A3457;
    font-size: 16px;
}

#title {
    font-weight: 500;
    text-align: center;
    margin: 0 -10px;
    padding-top: 5px;
}

#desc {
    font-weight: 400;
    text-align: center;
    margin: 15px 30px 30px;
}

#headshot {
    max-width: 252px;
    min-width: 100px;
    height: auto;
    margin-top: 30px;
}

#home a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 576px) {
    #desc {
        margin-left: 5px;
        margin-right: 5px;
    }
}