
#container-images {
    padding: 0;
    margin: 15px;
}

#container-images img {
    width: 100%;
}

.div-images {
    background-color: white;
    padding: 0;
    margin-bottom: 15px;
    cursor: pointer;
}

.div-images:last-child {
    margin-bottom: 0;
}

.caption {
    font-size: 16px;
    font-weight: 350;
    color: #2A3457;
    text-align: center;
}

.caption p {
    margin: 4.5px 12px 12px;
}

.info {
    font-size: 18px;
    background-color: white;
    padding: 7.5px;
    font-weight: 500;
    width: inherit;
    color: #2A3457;
    line-height: 17px;
    text-align: center;
}

.info p:first-child {
    margin-bottom: 4px;
}

.info p:last-child {
    margin-bottom: 0;
}

.info i {
    font-size: 16px;
    font-weight: 350;
}

.expanded {
    padding-bottom: 0;
}

.hide {
    display: none !important;
}

@media only screen and (min-width: 992px) {
    #container-images {
        margin: 15px 7.5px;
    }

    .div-images {
        padding: 0 7.5px;
        background-color: #F2EAED;
    }

    .div-images:nth-last-child(2) {
        margin-bottom: 0;
    }

    .div-images:hover {
        transform: scale(1.005);
    }
    
    #container-images img {
        margin-bottom: 0;
        border-radius: 0;
        position: relative;
        z-index: 100;
    }

    .clicked {
        opacity: 0.3;
        z-index: 98 !important;
    }

    .caption {
        font-size: calc(25% + 1vw);
        width: calc(100% - 25px);
        font-weight: 400;
        color: white;
        position: absolute;
        top: 0;
        z-index: 99;
        pointer-events: none;
        display: none;
    }

    #container-images p:first-of-type {
        margin-top: 0;
    }
    
    #container-images p:last-of-type {
        margin-bottom: 0;
    }
}
